:root {
    --fondo_icon: #5956E9;
    --gris_oscuro-color:#2f2f2f;
    --secundary1_bg: #f6f6f6;
    --secundary2_bg: #ffffff;
    --secundary3_bg: #797979;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
    user-select: none;
}
body{
    height: 500vh;
    font-size: clamp(1.1vw,15rem,1vw);
}
.encabezado_Homepage{
    height: 6vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.encabezado_pedido{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2vw;
}
.logo{
    width: 13vw;
}
.encabezado_navegacion{
    display: flex;
}
.flecha_abajo{
    width:1em;
}
.navegacion_menu{
    display: flex;
    gap: 2em;
}
.navegacion_menu .link{
    color: var(--gris_oscuro-color);
    font-size: 1.4vw;
}
.navegacion_paginas{
    display: flex;
    flex-direction: column;
}
.btn__borde{
    border: 1px solid gray;
    width: 8.5vw;
    height: 2.2vw;
    font-size: 1em;
    border-radius: 11em;
}
.bg_morado{
    width: 2em;
    height: 2em;
    background:var(--fondo_icon);
    border-radius: 2em;
    display: flex;
    align-items:center;
    justify-content: center;
}
.icon_carrito{
    width: 1em
}
.about_us{
    height: 40vh;
}
.about{
    width: 79vw;
    height: 40vh;
    border-radius:1em ;
    margin: auto;
    background-image: url("/imagenes/Image_banner.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.about_informacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 56%;
    margin:3% auto;
    text-align: center;
    gap: 1em;
    height: 34vh;
    padding: 5vw;
}
.about_informacion h1{
    font-size: 3vw;
}
.color_white{
    color: #f6f6f6;
}
.letra_tamaño{
    font-size: 1.3em;
}
.section_about{
    height: 80vh;
}
.section_about_imagen{
    width: 65vw;
    height: 60vh;
    margin: auto;
    padding: 1em ;
    margin-top: 3vw;
    display: flex;
    gap: 1vw;
}
.img-about{
    width: 30vw;
    border-radius: 1vw;
}
.bg_150{
    width: 12vw;
    height: 18vh;
    border-radius: 1vw;
    padding: 1em;
    background: var(--fondo_icon);
}
.section_img_bg{
    display: flex;
    gap: 1vw;
}
.bg_tamaño{
    font-size: 3vw;
}
.img-grupo{
    width: 17vw;
}
.section_informacion{
    display: flex;
    flex-direction: column;
    gap: 1.7vw;
    width: 29vw;
}
.img_btn{
    display: flex;
    align-items: center;
    gap: 1vw;
}
.btn_enviar{
    width: 6vw;
    height: 10vh;
    border: 0;
    border-radius: 1vw;
}
.enviar{
    width: 2vw;
}
.ajustes{
    width: 3vw;
}
.line_about{
    width: 30vw;
    height: 1px;
    background: #797979;
}
.btn-Join{
    width: 10vw;
    height: 7vh;
    border-radius: 5vw;
    border: 0;
    font-size: 1em;
}
.btn-Join:hover{
    color: white;
    background: var(--gris_oscuro-color);
}
.color_grey{
    color: #797979;
}
.secion_Counters{
    height: 36vh;
}
.counter{
    width: 85%;
    height: 40vh;
    margin: auto;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5em;
}
.counter_numeros{
    display: flex;
    justify-content: space-between;
    gap: 2vw;
}
.counter_numeros h2{
    color: #5956E9;
}
.section_Mission{
    height: 50vh;
}
.Mission{
    width: 69vw;
    height: 45vh;
    margin: 1vw auto;
    display: flex;
}
.Our_Mission{
    width: 29vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    gap: 2vw
}
.opiniones{
    display: flex;
    align-items: center;
    gap: 1vw;
}
.chulo{
    width: 1em;
}
.galery{
    display: flex;
    gap: 1vw;
}
.imagenes_m{
    width: 20vw;
}
.section_Values{
    height: 84vh;
}
.Values_informacion{
    margin-top: 1vw;
}
.Values{
    width: 69vw;
    height: 80vh;
    margin: 1vw  auto;
    text-align: center;
}
.Values_cajas{
    display: flex;
    gap: 2vw;
}
.cajas_items{
    width: 20vw;
    height: 35vh;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1vw;
}
.cajas_items:hover{
    border: 1px solid var(--secundary3_bg);
    border-radius: 1vw;
    cursor: pointer;
}
.icon_value{
    width: 5vw;
}
.section_team{
    border: 1px solid var(--fondo_icon);
    height: 84vh;
    background-image: url("/imagenes/Background_our_team.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.our_team{
    width: 63vw;
    height: 75vh;
    margin:2vw  auto;
    display: flex;
    flex-direction: column;
    gap: 1.3vw;
}
.team_informacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.team_titulo{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
.btn_team{
    height: 6vh;
    width: 10vw;
    border-radius: 2em;
    border: 0;
    font-size: 1em;
}
.btn_team:hover{
    cursor: pointer;
    background: var(--secundary3_bg);
    color: var(--secundary2_bg);
}
.team_perfil{

    height: 60vh;
    display: flex;
    gap: 1vw;
}
.phone_perfil{
    width: 19vw;
    border-radius: 2vw;
}
.perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.redes_perfil{
    display: flex;
    width: 7vw;
    gap: 1vw;
    margin: auto;
    align-items: center;
}
.rede{
    width: 1vw;
}
.rede-fc{
    height: 1.1vw;
}
.section_Investors{
    height: 70vh;
}
.Investors{
    width: 58vw;
    height: 60vh;
    margin:2vw auto;
}
.titulo_Investors{
    text-align: center;

}
.cajas_investors{
    background: var(--secundary1_bg);
    width: 27vw;
    height: 18vh;
    padding: 1vw;
    border-radius: 1vw;
}
.cajas_texto{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
.social--img{
    width: 6vw;
}
.texto_caja{
    display: flex;
    gap: 3vw;
    margin-top: 1vw;
}
.footer{
    height: 90vh;
}
.footer_informacion{
    width: 80vw;
    height: 90vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
.line_footer{
    width: 80vw;
    height:1px;
    background: #797979;
}
.logo_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bt_footer{
    width: 10vw;
}
.btn_footer{
    width: 10vw;
    height: 3vw;
    border: 1px solid grey;
    border-radius: 10vw;
    background: white;
    font-size: 0.8em;
}
.footer_item{
    height: 60vh;
    display: flex;
    align-items: center;
    gap: 2vw;
    padding:1vw 3vw ;
}
.item_footer{
    display: flex;
    gap: 8vw;
}
.Resources{
    display: flex;
    align-items: center;
}
.Resources_p{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
.line_line{
    width: 1px;
    height: 17vw;
    background: #797979;
}
.line_item{
    width: 1px;
    height: 20vw;
    background: #797979;
    margin-top: 1vw;
}
.bg_negro{
    width: 35vw;
    height: 44vh;
    background: #2f2f2f;
    border-radius: 1em;
    display: flex;
    padding: 2vw 1vw;
    gap: 1em;
}
.popular_bg{
    height: 36vh;
    width: 19vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
.Startup{
    display: flex;
    align-items: center;
    gap: 1em;

}
.dolar{
    display: flex;
    align-items: center;
    margin-top: -1em;
}
.peso{
    margin-top: 1em;
}
.btn_bg{
    width: 10vw;
    height: 8vh;
    border-radius: 2em;
    border: 0;
    background: #797979;
    font-size: 1em;
}
.opciones_bg{
    height: 36vh;
    width: 20vw;
}
.numero_tamaño{
    font-size: 4em;
}
.opciones_bg{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
span{
    color: rgb(0, 174, 255);
}
.social{
    display: flex;
    align-items: center;
    gap: 1em;
}
.img_popular{
    width: 10vw;
    height: 8vh;
}
.vetor_chulos{
    width: 1vw;
}
.top{
    margin-top: -2em;
}
.blak{
    color:rgb(224, 18, 18);
    font-size: 1em;
}
.redes_s{
    display: flex;
    justify-content: space-between;
}
.redes_sociales{
    display: flex;
    gap: 1em;
}
.redes_sociales div img{
    width: 2vw;
}
.Resources_p p {
    color: #797979;
}
.Resources_p a{
    color: #797979;
}
/* termino del footer */