:root {
    --fondo_icon: #5956E9;
    --gris_oscuro-color:#2f2f2f;
    --secundary1_bg: #f6f6f6;
    --secundary2_bg: #ffffff;
    --secundary3_bg: #797979;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    height: 500vh;
    font-size: clamp(1.5vw,15rem,1.5vw);
}
.encabezado_Homepage{
    height: 6vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.encabezado_pedido{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2vw;
}
.logo{
    width: 20vw;
}
.encabezado_navegacion{
    display: flex;
}
.flecha_abajo{
    width:1em;
}
.navegacion_menu{
    display: flex;
    gap: 2em;
}
.navegacion_menu .link{
    color: var(--gris_oscuro-color);
    font-size: 1.3em;
}
.navegacion_paginas{
    display: flex;
    flex-direction: column;
}
.btn__borde{
    height: 40px;
    width: 80px;

    background: var(--secundary2_bg);
    border: 1px solid grey;
}
.bg_morado{
    width: 3em;
    height: 3em;
    background:var(--fondo_icon);
    border-radius: 2em;
    display: flex;
    align-items:center;
    justify-content: center;
}
.icon_carrito{
    width: 1.5em
}
/* fin del header */

.encabezado_banner{
    border: 1px solid white;
    background-image: url("/imagenes/Background\ Image.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 74vh;
    margin: auto;
    width: 89vw;
    border-radius: 2em;
}
.banner_informacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 56%;
    margin:3% auto;
    text-align: center;
    gap: 1em;
    height: 34vh;
}
.boton_tamaño{
    height: 4vw;
    width: 13vw;
    border-radius: 3vw;
    border: none;
    font-size: 2vh;
}
.boton_tamaño:hover{
    background-color: #797979;
    cursor: pointer;
    color: #f6f6f6;
}
.imagen_Graphics{
    margin: auto;
    width: 82%;
    height: 25vw;
}
.imagen_encima{
    width: 100%;
    height: 25vw;
}
.color_white{
    color: var(--secundary1_bg);
}
.cliente_logo{
    margin-top: 12%;
    width: 87vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 11em;
}
img.cliente {
    width: 11vw;
}
.banner_about{
    height: 68vh;
}
.about{
    height: 66vh;
    width: 87vw;
    margin: 3% auto;
    display: flex;
    justify-content: center;
}
.about_informacion{
    width: 38%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.opiniones{
    display: flex;
    align-items: center;
}
.btn__borde{
    border: 1px solid gray;
    width: 8.5vw;
    height: 3.2vw;
    font-size: 1em;
    border-radius: 11em;
}
.about_celendario{
    width: 32vw;
}
.chulo{
    width: 1em;
}
.imagen_tamaño{
    width: 30em;
    height: 77vh;
}
.color_grey{
    color: var(--secundary3_bg);
}
.factures{
    height: 98vh;
}
.factures_titulo{
    text-align: center;
    font-size: 1.3em;
}
.cajas_factures{
    height: 91vh;
    display: flex;
    margin: auto;
    width: 42vw;
    justify-content: center;
    gap: 2%;
    margin-top: 3%;
    flex-direction: column;
}
.cajas{
    display: flex;
    justify-content: center;
    gap: 2%;
}
.factures_informacion{
    width: 24vw;
    height: 19vw;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    gap: 5%;
    border: 1px solid var(--secundary3_bg);
    border-radius: 1vw;
    font-size: 1.2vw;
}
.icon_btn{
    display: flex;
    justify-content: space-between;
}
.line_factures{
    width: 22vw;
    height: 1px;
    background: var(--secundary3_bg);
}
.icon_tamaño{
    width: 15%;
}
.bt-color{
    width: 9vw;
    height: 3em;
    border-radius: 4vw;
    border: 0px solid;
    font-size: 1vw;
}
.bt-color:hover{
    background: var(--secundary3_bg);
    color: #ffffff;
}
.bt--border{
    width: 12vw;
    height: 3vw;
    border-radius: 20vw;
    background: var(--secundary2_bg);
    border: 1px solid grey;
    font-size: 1vw
}
.ancho{
    width: 47%;
}
.bt--border:hover{
    background: var(--fondo_icon);
    color: var(--secundary2_bg);
    border: 0;
}
.secion_video{
    border: 1px solid rgba(0, 0, 0, 0);
    background-image: url("/imagenes/Background_video.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    margin-top: 4%;
}
.video{
    margin: 3% auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-top: 4%;
}
.titulo--tamaño{
    font-size: 1.3em;
}
.btn_normal {
    width: 12vw;
    height: 4vw;
    border-radius: 32vw;
    border: 1px solid grey;
    font-size: 1vw;
}
.btn_normal:hover{
    background: var(--secundary3_bg);
    color: var(--secundary2_bg);
}
.video_imagen{
    margin: auto;
    width: 53vw;
    height: 56vh;
    margin-top: -1%;
}
.img--video{
    width: 100%;
}
.social_media{
    margin-top: 15%;
}
.social_redes{
    width: 60vw;
    height: 51vh;
    margin: auto;
    display: flex;
    align-items: center;
}
.texto{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 46vh;
    gap: 7%;
    font-size: 1em;
}
.imagen_redes{
    width: 40vw;
    height: 46vh;
}
.redes{
    width: 96%;
    margin-top: 9%;
}
.bt_normal{
    width: 9vw;
    height: 3vw;
    border-radius: 25vw;
    border: 1px solid gray;
    font-size: 1em;
}
.bt_normal:hover{
    background: var(--gris_oscuro-color);
    color: var(--secundary2_bg);
}
.Work__Procces{
    width: 100%;
    height: 70vh;
    margin-top: -2%;
}
.Work__Procces_imagen{
    width: 64vw;
    height: 68vh;
    margin: auto;
    display: flex;
    font-size: 1em;
}
.imagen-bg{
    background-image: url("/imagenes/Imag--bge.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 65vh;
    width: 50vw;
    border-radius: 1vw;
    padding:  50px 50px;
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.btn-white{
    width: 11vw;
    height: 4vw;
    font-size: 1em;
    border-radius: 25px;
    border: 1px solid gray;
    background: #2f2f2f;
    color: var(--secundary1_bg);
}
.btn-white:hover{
    background: var(--secundary1_bg);
    color: #2f2f2f;

}
.Work_informacion{
    width: 65vw;
    height: 32vh;
    padding: 10px 10px;
    gap: 5%;
    display: flex;
    flex-direction: column;
}
.Work_informacion h2{
    color: var(--fondo_icon);
}
.caja_wort{
    width: 41vw;
    height: 99vh;
    display: flex;
}
.cajas_bg{
    width: 65vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
}
.secion_testimonial{
    border: 1px  solid saddlebrown;
    width: 100%;
    height: 111vh;
}
.testimonial_content{
    border: 1px solid var(--gris_oscuro-color);
    width: 60%;
    height: 108vh;
    background: var(--secundary1_bg);
    margin: auto;
    background: var(--secundary1_bg);
}
.testimonial{
    display: flex;
    align-items: center;
    gap: 2%;
}
.perfil{
    border: 1px solid red;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;
    text-align: center;
}
.perfiles{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
}
.perfil_2{
    border: 1px solid blueviolet;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;
    text-align: center;
}
.display_none{
    display: none;
}
.img-perfil{
    padding-top: 5%;
}
.counter{
    border: 1px solid red;
    width: 85%;
    height: 40vh;
    margin: auto;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5em;
}
.counter_numeros{
    display: flex;
    justify-content: space-between;
    gap: 33px;
}
.counter_numeros h2:hover{
    color: #5956E9;
    cursor: pointer;
}
.star{
    display: flex;
    align-items: center;
    justify-content: center;
}

.comillas{
    position: absolute;
    z-index: 1;
    margin-right: 9%;
    padding-top: 4%;
}
.line{
    width: 600px;
    height: 1px;
    margin: auto;
    margin-top: 2%;
    background: var(--secundary3_bg);
}
.blog_content{
    border: 1px solid rgb(3, 3, 3);
    height: 83vh;
    margin-top: 3%;
}
.blog{
    border: 1px solid var(--secundary3_bg);
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.btn-borde{
    width: 24%;
    height: 4em;
    border-radius: 30px;
    border: 1px solid gray;
    background: var(--secundary2_bg);
}
.btn-borde:hover{
    background: #5956E9;
    color:#f6f6f6;
}
.blog_imagen{
    display: flex;
    margin: auto;
    border: 1px solid rgb(71, 255, 47);
    width: 60%;
}
.blog_re{
    border: 1px solid gold;
    width: 34%;
    display: flex;
    flex-direction: column;
    gap: 1.1em;
    padding: 18px;
}
.imgages_blog{
    width: 100%;
}
.btn{
    margin-top: -17%;
    padding-left: 3%;
}
.fecha{
    display: flex;
    justify-content: space-between;
}

.bt_bg{
    width: 40%;
    height: 2em;
    border-radius: 9px;
    border: 0px solid gray;
    background: #ffffff;
    padding: 2%;
}
.Newsletter{
    border: 1px solid maroon;
    height: 60vh;
}
.imagen_Newsletter{
    border: 1px solid blue;
    width: 70%;
    height: 60vh;
    margin: auto;
    background-image: url("/imagenes/Imagebg.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;

}